style
    include ./style/editcompanies.css

if edit
    div.left
        div.company
            h3 Company's Information:
            if errMessage
                div.error
                    p #{errMessage}
                br
            if sucsMessage
                div.success
                    p #{sucsMessage}
                br
            div.alert-danger
                p#savError
            div.alert-success
                p#serSucMessage
            form#firas
                div.container
                    div.row
                        div.left-side.col-xl-6
                            input#id(type='hidden' value=`${edit.id}`)
                            div.form-group
                                label(for='name') Name:
                                input#name.form-control(type='text', placeholder="Company's name" name='name' required value=`${edit.name}`)
                            div.form-group
                                label(for='name_arabic') Name in Arabic:
                                input#name_arabic.form-control(type='text', placeholder="اسم الشركة" name='name_arabic' required value=`${edit.name_arabic}`)
                            div.form-group
                                label(for='email') Email:
                                input#email.form-control(type='email', placeholder='name@email.com' name='email' required value=`${edit.email}`)
                            div.form-group
                                label(for='phone') Phone
                                input#phone.form-control(type='text', placeholder='phone number' name='phone' required value=`${edit.phone}`)
                            div.form-group
                                label(for='description') Description:
                                textarea#description.form-control(placeholder='Description' name='description') #{edit.description}
                            div.form-group
                                label(for='description_arabic') Description in Arabic:
                                textarea#description_arabic.form-control(placeholder='الوصف' name='description_arabic') #{edit.description_arabic}
                            div.form-group
                                label(for="location") Select location:
                                select#location.form-control
                                    each value in cities
                                        if value.value == edit.city.name
                                            option(value=`${value.id}` selected='true') #{value.value}
                                        else
                                            option(value=`${value.id}`) #{value.value}

                            button.btn.btn-primary(type='submit') save

else if data
    table#company_table
        tr
            th(onclick="sortTable(0)")
                a(href='#') No.
            th(onclick="sortTable(1)")
                a(href='#') Name
            th(onclick="sortTable(2)")
                a(href='#') Phone
            th(onclick="sortTable(3)")
                a(href='#') Email
            th(onclick="sortTable(4)")
                a(href='#') City
            th(onclick="sortTable(5)")
                a(href='#') Services
            th(onclick="sortTable(6)")
                a(href='#') edit
            th(onclick="sortTable(7)")
                a(href='#') active
            th
                a(href='#') delete

        each value in data
            tr
                td #{value.id}
                td #{value.name}
                td #{value.phone}
                td #{value.email}
                td #{value.city.name}
                td
                    ol
                        each vol in value.companies_services
                            li #{vol.service.name} (
                            if vol.active == 1
                                a(href=`/deactivateService?id=${vol.id}`) Deactivate
                            else
                                a(href=`/activateService?id=${vol.id}`) Activate
                            | )
                            br
                    a(href=`editCompanyService?id=${value.id}`) edit Services
                td
                    a(href=`/editcomp?id=${value.id}`) edit Information
                td
                    if value.active == 1
                        a(href=`/deactivateCompany?id=${value.id}`) Deactivate
                    else
                        a(href=`/activateCompany?id=${value.id}`) Activate
                td
                    a(onclick=`deleteCompany(${value.id})` href="#") delete

else if editService
    form#service(style='margin-left: 15px;')
        h3 Company's Services:
        div.alert-danger
            p#serErrMessage

        input#id(type='hidden' value=`${editService}`)

        // each valu in editService
        //     - var service_id = `service_${valu.service.id}`
        //     - var price_id = `price_${valu.service.id}`
        //     - var desc_id = `desc_${valu.service.id}`
        //     - var desc_arabic_id = `desc_arabic_${valu.service.id}`
        //
        //     input#id(type='hidden' value=`${valu.companyId}`)
        //     div.form-group
        //         input(type='hidden' name=`${valu.service.name}_id` value=`${valu.service.id}`)
        //     div.form-check
        //         label.form-check-label
        //             div.checkbox.checkbox-info.checkbox-circle
        //                 input.form-check-input.styled(id=service_id type='checkbox', name='service', value=`${valu.service.name}`, onclick=`check(${JSON.stringify(valu.service.id)})` checked)
        //                 |    #{valu.service.name}
        //     div(class = 'form-group half ' + `input_${valu.service.id}`)
        //         label(for=price_id) Price:
        //         input.form-control(id=price_id class=`input_${valu.service.id}` type='number', placeholder='price' name=`${valu.service.name}_price`, value=`${valu.price}`)
        //     div(class = 'form-group half ' + `input_${valu.service.id}`)
        //         label(for=desc_id) Description:
        //         textarea.form-control(id=desc_id , class=`input_${valu.service.id}` placeholder='Description ...' name=`${valu.service.name}_desc`) #{valu.description}
        //     div(class = 'form-group  half ' + `input_${valu.service.id}`)
        //         label(for=desc_arabic_id) Description:
        //         textarea.form-control(id=desc_arabic_id , class=`input_${valu.service.id}` placeholder='الوصف  ...' name=`${valu.service.name}_desc_arabic`) #{valu.description_arabic}
        //     br

        each value in services
            - var service_id = `service_${value.id}`
            - var price_id = `price_${value.id}`
            - var desc_id = `desc_${value.id}`
            - var desc_arabic_id = `desc_arabic_${value.id}`

            div.form-group
                input(type='hidden' name=`${value.name}_id` value=`${value.id}`)
            div.form-check
                label.form-check-label
                    div.checkbox.checkbox-info.checkbox-circle
                        input.form-check-input.styled(id=service_id type='checkbox', name='service', value=`${value.name}`, onclick=`check(${JSON.stringify(value.id)})`)
                        |    #{value.name}
            div(class = 'form-group d-none half ' + `input_${value.id}`)
                label(for=price_id) Price:
                input.form-control(id=price_id class=`input_${value.id}` type='number', placeholder='price' name=`${value.name}_price`)
            div(class = 'form-group d-none half ' + `input_${value.id}`)
                label(for=desc_id) Description:
                textarea.form-control(id=desc_id , class=`input_${value.id}` placeholder='Description ...' name=`${value.name}_desc`)
            div(class = 'form-group d-none half ' + `input_${value.id}`)
                label(for=desc_arabic_id) Description:
                textarea.form-control(id=desc_arabic_id , class=`input_${value.id}` placeholder='الوصف  ...' name=`${value.name}_desc_arabic`)
            br

        button.btn.btn-primary(type='submit') add Services

        hr
        hr

    form#editPrice(style="margin-left: 15px;")
        each val in taken
            h6 #{val.service.name}' price:
            div.form-group(style="max-width: 10%;")
                input.form-control(id=`${val.id}` type='number', placeholder='price' name=`${val.id}` value=`${val.price}` required)
        button.btn.btn-primary(type='submit') edit Prices





script.

    $('#firas').submit(function (e) {
        e.preventDefault();
    })

    $('#service').submit(function (e) {
        e.preventDefault();
    })

    $('#editPrice').submit(function (e) {
        e.preventDefault();
    })



script
    include ./script/editCompany.js

